.preview-card{
  display: flex;
  justify-content: center;
  align-items: center;
  height:80vh;
}

.text-center{
  text-align: center;
}

.flex{
  display: flex;
}

.justify-content-between{
  justify-content: space-between;
}

.mt-5{
  margin-top: 50px;
}
